@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
    font-family: Roboto, sans-serif;
}

.main-grid {
    max-width: 1080px;
}

.dashboard > header > .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drawer {
    border: none;
}

.drawer > .drawer-header {
    display: flex;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
}

.drawer > .drawer-nav {
    flex-grow: 1;
}

.drawer > .drawer-nav > .drawer-nav-link {
    display: flex;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.drawer > .drawer-nav > .drawer-nav-link:hover {
    background-color: #00bcd4;
    color: #37474f;
}

.drawer > .drawer-nav > .drawer-nav-link .material-icons {
    font-size: 24px;
    margin-right: 32px;
}
